*{
    padding:0;
    margin: 0;
}
body{
    background-color:#f2f2ea;
    font-family: "Inter", sans-serif;
}
img,
video{
    width: 100%;
}
header{
    background-image: url('./assets/Images/white\ bkx\ logo\ real\ idk.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.logo-Top_layer{
    position: absolute;
    width: 72%;
    margin-top: 50px;
}
.divider{
    background-color: black;
    height: 5px;
    width: 94%;
    margin-left: 4%;
    margin-bottom: 180px;
}
.logo{
    position: absolute;
    margin-top: 50px;
    width: 15%;
}
nav{
    position: fixed;
    background-color: #f2f2ea;
    left: 73%;
    width: 27%;
    display: flex;
    justify-content: space-between;
    height: 650px;
}
.navlinks a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 17px;
}
.navlinks{
    margin-left: 15px;
}
.first-navlinks{
    margin-top: 48px;
}
.second-navlinks{
    position: relative; 
    top: 70px;
    width: 120%;
}
.second-navlinks li{
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
}
.second-navlinks a{
    font-weight: 400;
}
#print-store{
    position: relative;
    top: 20px;
}
.second-navlinks .fa{
    margin-right: 13px;
}
.first-navlinks li{
    margin-top: 6px;
    margin-bottom: 3px;
    padding: 4px;
}
.line{
    width: 90%;
    height: 2px;
    background-color: black;
}
.dropdown-btn{
    border: 2px solid rgb(41, 33, 33);
    width: 20%;
    height: 60px;
    padding: 1px;
    padding-left: 5px;
    position: relative;
    top: 22px;
    right: 15px;
    background-color: #f2f2ea;
    box-shadow: 0.5px 0.5px 0.7px 9px rgba(237, 236, 236, 0.5);
    border-radius: 10px;
}
.dropdown-btn-line{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    position: relative;
    top: 15px;
    left: 6px;
    width: 80%;
    transition: transform 0.4s ease, opacity 0.3s ease;
}


li{
    list-style: none;
}
.full-header-content{
    display: flex;
}
.header-content-text{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.intro{
    display: flex;
}
/* sections */
.section1Text{
    display: flex;
    font-size: 46px;
    font-weight: lighter;
    font-family: sans-serif;
}
.section1{
    margin: 4%;
}
.section1img{
    width: 45%;
    margin-left: 140px;
    margin-top: 4%;
}
.number1{
    margin-right: 50px;
}
.section2Text{
    margin-left: 4%;
    font-size: 18px;
    margin-top: 4%;
}
.number2div{
    display: flex;
    margin-bottom: 9%;
    font-size: 30px;
}
.section2-container-div{
    display: flex;
    justify-content: space-between;
}
.main-section2{
    background-color: white;
    padding-top: 300px;
}
.section2Img{
    margin-top: 80px;
    width: 45%;
    margin-right: 6%;
}
.main-section2Text{
    width: 55%;
    font-size: 18px;
}
.number2{
    margin-right: 6%;
}
.main-section2Text-para{
    margin-left: 15%;
}
/* section3 */
/* panel 1 */
.panel1{
    background-color: #e3e4d2;
}
.panel1-div{
    display: flex;
}
.panel1Image{
    width: 40%;
}
.panel1-div p{
    width: 46%;
}
.panel1 h1{
    font-size: 60px;
    color: grey;
    font-weight: 400;
    margin-left: 4%;
}
/* panel 2 */
.panel2{
    background-color: #b5b79f;
}
.panel2-div{
    display: flex;
}
.panel2Image{
    width: 40%;
}
.panel2-div p{
    width: 46%;
}
.panel2 h1{
    font-size: 60px;
    font-weight: 400;
    margin-left: 4%;
}
/* panel 3 */
.panel3{
    background-color: #6b6b63;
    color: white;
}
.panel3-div{
    display: flex;
}
.panel3Image{
    width: 40%;
}
.panel3-div p{
    width: 46%;
}
.panel3 h1{
    font-size: 60px;
    font-weight: 400;
    margin-left: 4%;
}
/* panel 4 */
.panel4{
    background-color: black;
    color: white;
}
.panel4-div{
    display: flex;
}
.panel4Image{
    width: 40%;
}
.panel4-div p{
    width: 46%;
}
.panel4 h1{
    font-size: 60px;
    font-weight: 400;
    margin-left: 4%;
}
/* panel 5 */
.panel5{
    background-color: black;
    color: white;
}
.panel5-div{
    display: flex;
}
.panel5Image{
    width: 40%;
}
.panel5-div p{
    width: 46%;
}
.panel5 h1{
    font-size: 60px;
    font-weight: 400;
    margin-left: 4%;
}
/* header */
header h1{
    font-size: 130px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 110px;
    letter-spacing: 2px;
    padding: 80px 0px;
    margin: 10px 0px;
}
.header-h1{
    padding-left: 16px;
}
/* sections */
.container-for-animated-Images{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 100px);
}
.animatedImage1{
    grid-area: 3/1/5/6;
}
.animatedImage2{
    grid-area: 3/5/5/12;
}
.animatedImage3{
    grid-area: 2/13/4/-1;
}
.animatedImage4{
    grid-area: 7/4/9/10;
}

.animatedImage5{
    grid-area: 10/13/10/-1;
}
/* footer */
footer{
    background-color: rgb(224, 222, 222);
}
.footer-list-links{
    display: flex;
}
.services-papers{
    display: flex;
}
.socials ul{
    display: flex;
}
.conclusion{
    display: flex;
}